<mat-card>
  <form (submit)="onAdding(cardform)" #cardform="ngForm">
    <mat-form-field>
      <mat-label>Card Number</mat-label>
      <input
        matInput
        ngModel
        name="cardNumber"
        #cardNumber="ngModel"
        required
        >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Card Holder Name</mat-label>
      <input
        matInput
        ngModel
        name="cardHolderName"
        #cardHolderName="ngModel"
        required
        >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Expiration Date</mat-label>
      <input
        matInput
        ngModel
        type="date"
        name="cardExpiry"
        #cardExpiry="ngModel"
        required
        >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Security Code - CVV</mat-label>
      <input
        matInput
        ngModel
        name="cardSecurityCode"
        #cardSecurityCode="ngModel"
       minlength="3"
       maxlength="3"
        >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input
        matInput
        ngModel
        name="amount"
        #amount="ngModel"
        required
        pattern="^[1-9][0-9]*"
        >
    </mat-form-field>
    <section>
      <button mat-raised-button  color="accent" type="submit">Submit</button>
    </section>
  </form>
</mat-card>
